@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
  font-family: 'Poppins';
  margin: 0 0;
}
/*Tratando la web como un flex*/
.box-flex {
    height: 100vh;
    flex-direction: column;
    display: flex;

}
header {
    box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.10196);
    border-bottom: 1px solid #d2d2d2;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0;
}
/*Division Black Heart*/

.head-black-heart {
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 8px 0;
}
.black-heart-down {
    background-color: #ffffff;
}

.head-black-heart li {
    margin-right: 10px;
}
.span-heart {
    display: none;
    font-family: 'Poppins';
    color: #000;
    letter-spacing: 0.015625em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 100;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.black-heart {
    height: 20px;
    padding-right: 1rem;
}
.nav-black-heart {
    justify-content: flex-end;
}
/*Division Search*/

.head-search {
    padding: 10px 0;
    /*display: flex;
    justify-content: center;*/
    background-color: #ffffff;
}
/* Primera seccion*/
#buil-amazing {
    padding: 4rem 1rem;
    color: #000;
    max-width: 48rem;
}
#build-amazing > h1 {
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.25;
    margin:.67em 0;
    text-align: center;
    padding: 4rem 1rem;
}
.build-amazing-article {
    max-width: 32rem;
    line-height: 1.5;
    
}
.botonera-body {
    margin-top: 4rem;
}

.see-plans {
    padding-right: 1rem;
    width: 50%;
    padding-bottom: 1rem;
}
.see-plans a{
    font-family: Poppins,sans-serif;
    background: #c12127;
    border-bottom: solid 5px #fa8717;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    max-width: 16rem;
    text-decoration: none;
    padding:1rem 2rem;
    color: #333;
    font-weight: 700;
    display: block;
}
.join-for-free {
    padding-left: 1rem;
    width: 50%;
    padding-bottom: 1rem;
}
.join-for-free a{
    font-family: Poppins, sans-serif;
    background: #CCC2C0;
    border-bottom: solid 5px #8E8C8B;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    max-width: 16rem;
    text-decoration: none;
    padding:1rem 2rem;
    color: #fff;
    font-weight: 700;
    display: block;
}
/*Bring the Best*/
.btb-down {
    margin-bottom: 4rem;
}
.btb-down > img {
    margin-bottom: 2rem;
    display: inline;
    height: 175px;
}
/*Footer*/
.footer {
    text-align: left;
}
.footer img{
    height: 15px;
}
/*Ajustes genericos*/
.pb-1rem {
    padding-bottom: 1rem;
}
.w-25 {
    width: 25%;
}
.w-50 {
    width: 50%;
} 
.w-100 {
    width: 100%;
}
.pa-1rem {
    padding: 1rem;
}
.ph-1rem {
    padding-left: 1rem;
    padding-right: 1rem;
}
.pb-4rem {
    padding-bottom: 4rem;
}
.pb-1rem {
    padding-bottom: 1rem;
}
.bg-white {
    background-color: #CCC2C0;
}
.bg-grey{
    background-color: #333;
}
.pv-5rem{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.mw-64 {
    max-width: 64rem;
}
.mw-48 {
    max-width: 48rem;
}
.mw-32 {
    max-width: 32rem;
}
.mb-1rem {
    margin-bottom: 1rem;
}
.lh-copy {
    line-height: 1.5;
}
.w-auto {
    width: auto;
}
.just-sp-bet {
    justify-content: space-between;
}
.border-box {
    box-sizing: border-box;
}
.ph4-ns {
    padding-left: 2rem;
    padding-right: 2rem;
}
.bt {
    border-top-style: solid;
    border-top-width: 1px;
}
.b--black-10{
    border-color: rgba(0,0,0,.1);
}
.flex {
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}
.max96 {
    max-width: 96rem;
}
.center {
    margin-right: auto;
    margin-left: auto;
}
.tl {
    text-align: left;
}
.tx {
    text-align: center;
}
nav a {
    text-decoration: none;
    color: black;
}

.form-search{
    width: 50%;
    color: #000;
    padding-top: .5rem;
    padding-bottom: .5rem;
    order: 1;
    position: relative;
}

.search-package {
    position: relative;
    flex-grow: 1;
}
.search-package-border {
    padding: 5px;
    background: #f2f2f2;
    white-space: nowrap;
}
.search-package-span {
    padding-top: 10px;
    padding-right: .25rem;
    padding-left: 1rem;
    float: left;
    display: block;
}
.npm-logo {
    width: 60px;
    margin-right: 1rem;
}
.magnifying-glass {
    width: 18px;
    height: 18px;
    background-color: #f2f2f2;
    align-content: center;
}

.search{
    background: none;
    font-size: 16px;
    letter-spacing: 0px;
    border: none;
    height: 40px;
    padding-left: 10px;
    border-radius: 0;
    width: calc(100% - 10px);
    color: #000;
    position: relative;
    font-weight: 300;
    overflow: visible;
    margin: 0;
    line-height: 1.15;
}
.search-bar {
    padding: 0;
    border-style: none;
    border-width: 0;
    background-color: transparent;
    position: relative;
    display: contents;
}
.button-search {
    letter-spacing: 0.3px;
    font-weight: bold;
    background-color: #231f20;
    font-size: .875rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #fff;
    border-style: none;
    border-width: 0;
}

.npm-icon {
    padding-top: 8px;
    flex-grow: 0;
    margin-right: 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 1rem;
    display: block;
}
.login-bar {
  flex-grow: 0;
  user-select: none; 
  margin-top: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  order:2;
  white-space: nowrap;
  text-align: right;
  margin-left: 1rem;
  position: relative;
  font-weight: 600; 
}
.login-bar-down {
    padding-left: 1rem;
    align-self: center;
    align-items: center;
}
.sign-up {
    padding: 13px 28px;
    border: 1px solid #cccccc;
    border-radius: 0;
    transition: opacity .15s ease-in;
    opacity: 1;
    font-size: .875rem;
    text-decoration: none;
    margin-right: 1rem;
    color: #000;
    line-height: 1.5;
    font-weight: 500;
}